# Subscriber Device Directory cleaning

Importing libraries and Readiing the file

In [123]:
import pandas as pd
import numpy as np
from datetime import datetime

In [17]:
subdevice_directory = pd.read_csv("SUB_DEVICE_DIRECTORY.csv")
pd.set_option('display.max_columns', None)

In [18]:
subdevice_directory.head(5)

,ID,DEVICE_ID,BRAND,MODEL,NETTYPE,OS,OS_Type,START_DATE,END_DATE
0,4397787.0,35230713,Samsung,Galaxy A12,4G,Android,smartphone,2024-01-01,2024-07-08
1,4129638.0,35306809,Apple,iPhone SE,4G,iOS,smartphone,2022-04-01,2023-05-31
2,1154183.0,86887805,OnePlus,Nord N100,4G,Android,smartphone,2021-11-01,2024-07-08
3,670331.0,86296505,Xiaomi,Redmi 9T,4G,Android,smartphone,2021-05-01,2024-02-29
4,3074468.0,35639208,Samsung,Galaxy J7 2017 Dual,4G,Android,smartphone,2021-10-01,2021-10-31

Removing trailing spaces from the `MODEL` column in `subdevice_directory` and saveing the dataframe to a **CSV** file.

In [19]:
subdevice_directory['MODEL'] = subdevice_directory['MODEL'].str.rstrip()
subdevice_directory.to_csv('SUB_DEVICE_DIRECTORY.csv', index=False)

In [20]:
subdevice_directory.head(10)

,ID,DEVICE_ID,BRAND,MODEL,NETTYPE,OS,OS_Type,START_DATE,END_DATE
0,4397787.0,35230713,Samsung,Galaxy A12,4G,Android,smartphone,2024-01-01,2024-07-08
1,4129638.0,35306809,Apple,iPhone SE,4G,iOS,smartphone,2022-04-01,2023-05-31
2,1154183.0,86887805,OnePlus,Nord N100,4G,Android,smartphone,2021-11-01,2024-07-08
3,670331.0,86296505,Xiaomi,Redmi 9T,4G,Android,smartphone,2021-05-01,2024-02-29
4,3074468.0,35639208,Samsung,Galaxy J7 2017 Dual,4G,Android,smartphone,2021-10-01,2021-10-31
5,3361297.0,35660508,Apple,iPhone SE,4G,iOS,smartphone,2019-01-01,2020-01-31
6,153595.0,35494041,Samsung,Galaxy A23,4G,Android,smartphone,2022-10-01,2024-07-08
7,1149069.0,35840607,Fly,Cirrus 4,3G,Android,smartphone,2017-03-01,2017-05-31
8,3567830.0,35562511,Samsung,Galaxy A01 Dual Global,4G,Android,smartphone,2021-01-01,2024-07-08
9,2440905.0,35782324,Samsung,Galaxy A11 Dual,4G,Android,smartphone,2021-01-01,2022-01-31

Filter `subdevice_directory` to display rows where the `ID` column contains NaN values.

In [22]:
subdevice_directory[subdevice_directory['ID'].isna()]

,ID,DEVICE_ID,BRAND,MODEL,NETTYPE,OS,OS_Type,START_DATE,END_DATE
2309,NaN,35608607,Sony,Xperia Z5,4G,Android,smartphone,2016-01-01,2024-07-08
12172,NaN,35901705,Pocketbook International SA,SURFpad 3,3G,Unknown,smartphone,2014-07-01,2024-07-08
12319,NaN,35438810,Fully Holdings (HK) Co Limited,C11,3G,Android,smartphone,2019-10-01,2024-07-08
17954,NaN,35813706,Sony,Xperia E4,3G,Android,smartphone,2015-07-01,2024-07-08
18645,NaN,35259307,I-Life Digital Technology LLC,I-Life itell S450,2G,Android,smartphone,2015-12-01,2017-06-30
...,...,...,...,...,...,...,...,...,...
12403779,NaN,35322207,Glida,M-PPXG510,3G,Android,smartphone,2015-09-01,2024-07-08
12414469,NaN,35366508,Cubot,Manito,4G,Android,smartphone,2017-12-01,2024-07-08
12415065,NaN,86397302,Tianyu,K-Touch Tou ch3w,4G,Android,smartphone,2014-12-01,2024-07-08
12415464,NaN,35914503,Huawei,U8110,3G,Android,smartphone,2013-09-01,2024-07-08
12416607,NaN,86954104,Xiaomi,Redmi 7,4G,Android,smartphone,2019-05-01,2024-07-08

Calculate the number of missing values for each column in `subdevice_directory`.

In [86]:
subdevice_directory.isnull().sum()

ID            0
DEVICE_ID     0
BRAND         0
MODEL         0
NETTYPE       0
OS            0
OS_TYPE       0
START_DATE    0
END_DATE      0
dtype: int64

In [26]:
subdevice_directory = subdevice_directory.dropna()

In [69]:
subdevice_directory["NETTYPE"].value_counts()

NETTYPE
4G         7572734
3G         3698936
5G          760221
2G          374876
Unknown         64
Name: count, dtype: int64

In [36]:
subdevice_directory['ID'] = subdevice_directory['ID'].astype(int)
subdevice_directory.head(12)

,ID,DEVICE_ID,BRAND,MODEL,NETTYPE,OS,OS_Type,START_DATE,END_DATE
0,4397787,35230713,Samsung,Galaxy A12,4G,Android,smartphone,2024-01-01,2024-07-08
1,4129638,35306809,Apple,iPhone SE,4G,iOS,smartphone,2022-04-01,2023-05-31
2,1154183,86887805,OnePlus,Nord N100,4G,Android,smartphone,2021-11-01,2024-07-08
3,670331,86296505,Xiaomi,Redmi 9T,4G,Android,smartphone,2021-05-01,2024-02-29
4,3074468,35639208,Samsung,Galaxy J7 2017 Dual,4G,Android,smartphone,2021-10-01,2021-10-31
5,3361297,35660508,Apple,iPhone SE,4G,iOS,smartphone,2019-01-01,2020-01-31
6,153595,35494041,Samsung,Galaxy A23,4G,Android,smartphone,2022-10-01,2024-07-08
7,1149069,35840607,Fly,Cirrus 4,3G,Android,smartphone,2017-03-01,2017-05-31
8,3567830,35562511,Samsung,Galaxy A01 Dual Global,4G,Android,smartphone,2021-01-01,2024-07-08
9,2440905,35782324,Samsung,Galaxy A11 Dual,4G,Android,smartphone,2021-01-01,2022-01-31
10,2942338,35461008,Samsung,Galaxy J1 mini 3G Dual,3G,Android,smartphone,2017-03-01,2020-04-30
11,278723,35762310,Samsung,Galaxy A10 Dual,4G,Android,smartphone,2019-08-01,2023-04-30

In [37]:
subdevice_directory['NETTYPE'].value_counts()

NETTYPE
4G         7572734
3G         3694892
5G          760221
2G          374876
Unknown       4108
Name: count, dtype: int64

Standardizing `OS` column values in `subdevice_directory` to uniform names like **Windows**, **Android**, **HarmonyOS**, and **iOS** by replacing various formats.

In [110]:
subdevice_directory.loc[subdevice_directory['OS'].str.contains('Windows', case=False, na=False), 'OS'] = 'Windows'
subdevice_directory.loc[subdevice_directory['OS'].str.contains('Android', case=False, na=False), 'OS'] = 'Android'
subdevice_directory.loc[subdevice_directory['OS'].str.contains('Harmony', case=False, na=False), 'OS'] = 'HarmonyOS'
subdevice_directory['OS'] = subdevice_directory['OS'].replace('iPhone OS', 'iOS', regex=True)
subdevice_directory['OS'] = subdevice_directory['OS'].replace('Apple iOS', 'iOS', regex=True)
# subdevice_directory.to_csv('SUB_DEVICE_DIRECTORY.csv', index=False)

In [114]:
subdevice_directory = subdevice_directory[subdevice_directory['OS'] != 'NONE']

In [117]:
subdevice_directory['OS'].value_counts()

OS
Android                   9166441
iOS                       2610699
Symbian                    276061
Windows                    125082
Bada                        88460
Nokia X Platform            54358
BlackBerry OS               19033
Symbian Anna                 7071
MeeGo                        2047
Firefox OS                   2014
HarmonyOS                    1092
Maemo                         728
Nucleus                       471
Tizen                         371
Linux                         319
MotoMagx                       77
BlackBerry                     66
Brew                           26
RDA                            16
MTK                             9
RTOS                            9
Sailfish Mobile OS RUS          8
ThreadX                         7
webOS                           6
KaiOS                           2
Le OS                           1
Name: count, dtype: int64

In [116]:
subdevice_directory[subdevice_directory["OS"] == "NONE"]

Empty DataFrame
Columns: [ID, DEVICE_ID, BRAND, MODEL, NETTYPE, OS, OS_TYPE, START_DATE, END_DATE]
Index: []

In [132]:
subdevice_directory.head(10)

,ID,DEVICE_ID,BRAND,MODEL,NETTYPE,OS,OS_TYPE,START_DATE,END_DATE
0,4397787,35230713,Samsung,Galaxy A12,4G,Android,smartphone,2024-01-01,2024-07-12
1,4129638,35306809,Apple,iPhone SE,4G,iOS,smartphone,2022-04-01,2023-05-31
2,1154183,86887805,OnePlus,Nord N100,4G,Android,smartphone,2021-11-01,2024-07-12
3,670331,86296505,Xiaomi,Redmi 9T,4G,Android,smartphone,2021-05-01,2024-02-29
4,3074468,35639208,Samsung,Galaxy J7 2017 Dual,4G,Android,smartphone,2021-10-01,2021-10-31
5,3361297,35660508,Apple,iPhone SE,4G,iOS,smartphone,2019-01-01,2020-01-31
6,153595,35494041,Samsung,Galaxy A23,4G,Android,smartphone,2022-10-01,2024-07-12
7,1149069,35840607,Fly,Cirrus 4,3G,Android,smartphone,2017-03-01,2017-05-31
8,3567830,35562511,Samsung,Galaxy A01 Dual Global,4G,Android,smartphone,2021-01-01,2024-07-12
9,2440905,35782324,Samsung,Galaxy A11 Dual,4G,Android,smartphone,2021-01-01,2022-01-31

In [76]:
# subdevice_directory.to_csv('SUB_DEVICE_DIRECTORY.csv', index=False)
subdevice_directory.columns

Index(['ID', 'DEVICE_ID', 'BRAND', 'MODEL', 'NETTYPE', 'OS', 'OS_Type',
       'START_DATE', 'END_DATE'],
      dtype='object')

Replacing `END_DATE` values of `2024-07-12` with the current date and then displaying the column names of `subdevice_directory`.

In [130]:
# Current date
current_date = datetime.now().date().isoformat()

# Replace END_DATE values where '2024-07-08' with current date
subdevice_directory.loc[subdevice_directory['END_DATE'] == '2024-07-12', 'END_DATE'] = current_date

subdevice_directory.columns

Index(['ID', 'DEVICE_ID', 'BRAND', 'MODEL', 'NETTYPE', 'OS', 'OS_TYPE',
       'START_DATE', 'END_DATE'],
      dtype='object')

In [66]:
subdevice_directory.isnull().sum()

ID            0
DEVICE_ID     0
BRAND         0
MODEL         0
NETTYPE       0
OS            0
OS_Type       0
START_DATE    0
END_DATE      0
dtype: int64

In [129]:
subdevice_directory['END_DATE'].value_counts()

END_DATE
2024-07-12    2671164
2014-10-31     187271
2019-11-30     126463
2023-06-30     122227
2023-08-31     122120
               ...
2013-11-30      17516
2013-09-30      17361
2013-10-31      17204
2014-04-30      16989
2014-02-28      16760
Name: count, Length: 129, dtype: int64

In [139]:
subdevice_directory.sample(5)

,ID,DEVICE_ID,BRAND,MODEL,NETTYPE,OS,OS_TYPE,START_DATE,END_DATE,DAYS_USED
10459653,2288913,86264304,Xiaomi,Redmi Note 7,4G,Android,smartphone,2019-07-01,2024-07-12,1838
5692775,3751927,35445509,Alcatel,1X,4G,Android,smartphone,2024-03-01,2024-07-12,133
4852219,5852210,35690573,Infinix,X6525,4G,Android,smartphone,2024-01-01,2024-07-12,193
9966865,3457402,35884804,Samsung,Galaxy S II,3G,Android,smartphone,2014-12-01,2016-01-31,426
9163665,2124920,35793809,Samsung,Galaxy A5 2017,4G,Android,smartphone,2020-04-01,2020-10-31,213

Calculate the number of days between `START_DATE` and `END_DATE` and store the result as an integer in a new column `DAYS_USED`.

In [140]:
subdevice_directory["DAYS_USED"] = (pd.to_datetime(subdevice_directory["END_DATE"]) - pd.to_datetime(subdevice_directory["START_DATE"])).dt.days.astype(int)
subdevice_directory.to_csv('SUB_DEVICE_DIRECTORY.csv', index=False)

In [138]:
subdevice_directory["DAYS_USED"]

0            193
1            425
2            984
3           1034
4             30
            ...
12417896      30
12417897     455
12417898      60
12417899     729
12417900      72
Name: DAYS_USED, Length: 12354474, dtype: int32